*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  background-color: #3867e2;
}

.error-message {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(173, 59, 59);
  text-align: center;
}
